In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
from datetime import datetime, timedelta, time
from scipy import stats, signal
import plotly.express as px
import plotly.graph_objects as go

#fetch data from yfinance
tsla = yf.Ticker("TSLA")
print(tsla.financials)

                                           2021-12-31     2020-12-31  \
Research Development                     2593000000.0   1491000000.0
Effect Of Accounting Charges                     None           None
Income Before Tax                        6343000000.0   1154000000.0
Minority Interest                        1394000000.0   1454000000.0
Net Income                               5519000000.0    721000000.0
Selling General Administrative           4517000000.0   3188000000.0
Gross Profit                            13606000000.0   6630000000.0
Ebit                                     6523000000.0   1951000000.0
Operating Income                         6523000000.0   1951000000.0
Other Operating Expenses                  -27000000.0    -27000000.0
Interest Expense                         -358000000.0   -784000000.0
Extraordinary Items                              None           None
Non Recurring                                    None           None
Other Items                                      None           None
Income Tax Expense                        699000000.0    292000000.0
Total Revenue                           53823000000.0  31536000000.0
Total Operating Expenses                47300000000.0  29585000000.0
Cost Of Revenue                         40217000000.0  24906000000.0
Total Other Income Expense Net           -180000000.0   -797000000.0
Discontinued Operations                          None           None
Net Income From Continuing Ops           5644000000.0    862000000.0
Net Income Applicable To Common Shares   5524000000.0    690000000.0

                                           2019-12-31     2018-12-31
Research Development                     1343000000.0   1460000000.0
Effect Of Accounting Charges                     None           None
Income Before Tax                        -665000000.0  -1005000000.0
Minority Interest                        1492000000.0   1390000000.0
Net Income                               -862000000.0   -976000000.0
Selling General Administrative           2646000000.0   2835000000.0
Gross Profit                             4069000000.0   4042000000.0
Ebit                                       80000000.0   -253000000.0
Operating Income                           80000000.0   -253000000.0
Other Operating Expenses                  -27000000.0    -27000000.0
Interest Expense                         -725000000.0   -653000000.0
Extraordinary Items                              None           None
Non Recurring                                    None           None
Other Items                                      None           None
Income Tax Expense                        110000000.0     58000000.0
Total Revenue                           24578000000.0  21461000000.0
Total Operating Expenses                24498000000.0  21714000000.0
Cost Of Revenue                         20509000000.0  17419000000.0
Total Other Income Expense Net           -745000000.0   -752000000.0
Discontinued Operations                          None           None
Net Income From Continuing Ops           -775000000.0  -1063000000.0
Net Income Applicable To Common Shares   -870000000.0   -976000000.0

In [3]:
data = tsla.history(start='2022-06-01', end='2022-06-10', interval= '5m')
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2022-06-01 09:30:00-04:00,760.518005,769.259888,755.159973,764.170471,1615192,0,0
2022-06-01 09:35:00-04:00,764.330017,769.750000,762.799988,764.260925,709602,0,0
2022-06-01 09:40:00-04:00,764.210022,767.429993,760.200012,762.669983,507500,0,0
2022-06-01 09:45:00-04:00,762.979980,768.109985,761.114990,764.750000,525375,0,0
2022-06-01 09:50:00-04:00,765.059998,769.250000,762.030273,767.759827,494063,0,0

In [6]:
data = yf.download(['AAPL','TSLA'], period='1d', interval='5m', group_by='ticker')
data

[*********************100%***********************]  2 of 2 completed

                                 TSLA                                      \
                                 Open        High         Low       Close
Datetime
2022-06-09 09:30:00-04:00  745.500000  746.989990  739.000000  742.950012
2022-06-09 09:35:00-04:00  742.838196  745.000000  735.119995  735.434998
2022-06-09 09:40:00-04:00  735.260010  737.890015  731.700073  736.695007
2022-06-09 09:45:00-04:00  736.387878  742.400024  734.210022  740.232422
2022-06-09 09:50:00-04:00  740.289978  748.659973  739.378784  745.789978
...                               ...         ...         ...         ...
2022-06-09 15:40:00-04:00  721.684998  722.010010  719.150024  719.150024
2022-06-09 15:45:00-04:00  719.010010  720.489990  717.979980  720.102295
2022-06-09 15:50:00-04:00  719.000000  721.739990  718.200012  721.190002
2022-06-09 15:55:00-04:00  721.190002  721.900024  718.890015  719.119995
2022-06-09 16:00:00-04:00  719.119995  719.119995  719.119995  719.119995

                                                      AAPL              \
                            Adj Close   Volume        Open        High
Datetime
2022-06-09 09:30:00-04:00  742.950012  3004242  147.371307  147.610001
2022-06-09 09:35:00-04:00  735.434998   742469  147.419998  147.540100
2022-06-09 09:40:00-04:00  736.695007   802106  146.598801  146.809998
2022-06-09 09:45:00-04:00  740.232422   865365  146.580002  147.259995
2022-06-09 09:50:00-04:00  745.789978   939888  147.104996  147.949997
...                               ...      ...         ...         ...
2022-06-09 15:40:00-04:00  719.150024   334231  143.660004  143.660004
2022-06-09 15:45:00-04:00  720.102295   410798  143.309998  143.389999
2022-06-09 15:50:00-04:00  721.190002   542473  143.139999  143.434998
2022-06-09 15:55:00-04:00  719.119995   706575  143.220001  143.289993
2022-06-09 16:00:00-04:00  719.119995        0  142.639999  142.639999


                                  Low       Close   Adj Close   Volume
Datetime
2022-06-09 09:30:00-04:00  146.779999  147.429993  147.429993  4476322
2022-06-09 09:35:00-04:00  146.564194  146.595001  146.595001  1382183
2022-06-09 09:40:00-04:00  146.380005  146.571503  146.571503  1382858
2022-06-09 09:45:00-04:00  146.479996  147.101303  147.101303  1489175
2022-06-09 09:50:00-04:00  147.039993  147.690002  147.690002  1379193
...                               ...         ...         ...      ...
2022-06-09 15:40:00-04:00  143.269897  143.300003  143.300003  1192724
2022-06-09 15:45:00-04:00  142.985001  143.134995  143.134995  1688312
2022-06-09 15:50:00-04:00  142.899994  143.220001  143.220001  1979099
2022-06-09 15:55:00-04:00  142.529999  142.600006  142.600006  3121401
2022-06-09 16:00:00-04:00  142.639999  142.639999  142.639999        0

[79 rows x 12 columns]

In [4]:
tsla = yf.Ticker('TSLA')
info = tsla.info
info.keys()

dict_keys(['zip', 'sector', 'fullTimeEmployees', 'longBusinessSummary', 'city', 'phone', 'state', 'country', 'companyOfficers', 'website', 'maxAge', 'address1', 'industry', 'ebitdaMargins', 'profitMargins', 'grossMargins', 'operatingCashflow', 'revenueGrowth', 'operatingMargins', 'ebitda', 'targetLowPrice', 'recommendationKey', 'grossProfits', 'freeCashflow', 'targetMedianPrice', 'currentPrice', 'earningsGrowth', 'currentRatio', 'returnOnAssets', 'numberOfAnalystOpinions', 'targetMeanPrice', 'debtToEquity', 'returnOnEquity', 'targetHighPrice', 'totalCash', 'totalDebt', 'totalRevenue', 'totalCashPerShare', 'financialCurrency', 'revenuePerShare', 'quickRatio', 'recommendationMean', 'exchange', 'shortName', 'longName', 'exchangeTimezoneName', 'exchangeTimezoneShortName', 'isEsgPopulated', 'gmtOffSetMilliseconds', 'quoteType', 'symbol', 'messageBoardId', 'market', 'annualHoldingsTurnover', 'enterpriseToRevenue', 'beta3Year', 'enterpriseToEbitda', '52WeekChange', 'morningStarRiskRating', 'forwardEps', 'revenueQuarterlyGrowth', 'sharesOutstanding', 'fundInceptionDate', 'annualReportExpenseRatio', 'totalAssets', 'bookValue', 'sharesShort', 'sharesPercentSharesOut', 'fundFamily', 'lastFiscalYearEnd', 'heldPercentInstitutions', 'netIncomeToCommon', 'trailingEps', 'lastDividendValue', 'SandP52WeekChange', 'priceToBook', 'heldPercentInsiders', 'nextFiscalYearEnd', 'yield', 'mostRecentQuarter', 'shortRatio', 'sharesShortPreviousMonthDate', 'floatShares', 'beta', 'enterpriseValue', 'priceHint', 'threeYearAverageReturn', 'lastSplitDate', 'lastSplitFactor', 'legalType', 'lastDividendDate', 'morningStarOverallRating', 'earningsQuarterlyGrowth', 'priceToSalesTrailing12Months', 'dateShortInterest', 'pegRatio', 'ytdReturn', 'forwardPE', 'lastCapGain', 'shortPercentOfFloat', 'sharesShortPriorMonth', 'impliedSharesOutstanding', 'category', 'fiveYearAverageReturn', 'previousClose', 'regularMarketOpen', 'twoHundredDayAverage', 'trailingAnnualDividendYield', 'payoutRatio', 'volume24Hr', 'regularMarketDayHigh', 'navPrice', 'averageDailyVolume10Day', 'regularMarketPreviousClose', 'fiftyDayAverage', 'trailingAnnualDividendRate', 'open', 'toCurrency', 'averageVolume10days', 'expireDate', 'algorithm', 'dividendRate', 'exDividendDate', 'circulatingSupply', 'startDate', 'regularMarketDayLow', 'currency', 'trailingPE', 'regularMarketVolume', 'lastMarket', 'maxSupply', 'openInterest', 'marketCap', 'volumeAllCurrencies', 'strikePrice', 'averageVolume', 'dayLow', 'ask', 'askSize', 'volume', 'fiftyTwoWeekHigh', 'fromCurrency', 'fiveYearAvgDividendYield', 'fiftyTwoWeekLow', 'bid', 'tradeable', 'dividendYield', 'bidSize', 'dayHigh', 'regularMarketPrice', 'preMarketPrice', 'logo_url', 'trailingPegRatio'])

In [9]:
info['sector']

'Consumer Cyclical'

In [5]:
tsla.earnings

          Revenue    Earnings
Year
2018  21461000000  -976000000
2019  24578000000  -862000000
2020  31536000000   721000000
2021  53823000000  5519000000

In [7]:
tsla.get_financials()

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,2593000000.0,1491000000.0,1343000000.0,1460000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,6343000000.0,1154000000.0,-665000000.0,-1005000000.0
Minority Interest,1394000000.0,1454000000.0,1492000000.0,1390000000.0
Net Income,5519000000.0,721000000.0,-862000000.0,-976000000.0
Selling General Administrative,4517000000.0,3188000000.0,2646000000.0,2835000000.0
Gross Profit,13606000000.0,6630000000.0,4069000000.0,4042000000.0
Ebit,6523000000.0,1951000000.0,80000000.0,-253000000.0
Operating Income,6523000000.0,1951000000.0,80000000.0,-253000000.0
Other Operating Expenses,-27000000.0,-27000000.0,-27000000.0,-27000000.0
Interest Expense,-358000000.0,-784000000.0,-725000000.0,-653000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,699000000.0,292000000.0,110000000.0,58000000.0
Total Revenue,53823000000.0,31536000000.0,24578000000.0,21461000000.0
Total Operating Expenses,47300000000.0,29585000000.0,24498000000.0,21714000000.0
Cost Of Revenue,40217000000.0,24906000000.0,20509000000.0,17419000000.0
Total Other Income Expense Net,-180000000.0,-797000000.0,-745000000.0,-752000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,5644000000.0,862000000.0,-775000000.0,-1063000000.0
Net Income Applicable To Common Shares,5524000000.0,690000000.0,-870000000.0,-976000000.0

In [8]:
pnl = tsla.financials
bs = tsla.balancesheet
cf = tsla.cashflow
fs = pd.concat([pnl,bs,cf])
fs

,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Research Development,2593000000.0,1491000000.0,1343000000.0,1460000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,6343000000.0,1154000000.0,-665000000.0,-1005000000.0
Minority Interest,1394000000.0,1454000000.0,1492000000.0,1390000000.0
Net Income,5519000000.0,721000000.0,-862000000.0,-976000000.0
...,...,...,...,...
Change To Inventory,-1709000000.0,-422000000.0,-429000000.0,-1023000000.0
Change To Account Receivables,-130000000.0,-652000000.0,-367000000.0,-497000000.0
Other Cashflows From Financing Activities,-178000000.0,-225000000.0,-380000000.0,189000000.0
Change To Netincome,2650000000.0,2716000000.0,1524000000.0,969000000.0
Capital Expenditures,-8014000000.0,-3232000000.0,-1432000000.0,-2319000000.0

In [9]:
fs.T #transpose

,Research Development,Effect Of Accounting Charges,Income Before Tax,Minority Interest,Net Income,Selling General Administrative,Gross Profit,Ebit,Operating Income,Other Operating Expenses,...,Change In Cash,Effect Of Exchange Rate,Total Cash From Operating Activities,Depreciation,Other Cashflows From Investing Activities,Change To Inventory,Change To Account Receivables,Other Cashflows From Financing Activities,Change To Netincome,Capital Expenditures
,,,,,,,,,,,,,,,,,,,,,
2021-12-31,2593000000.0,None,6343000000.0,1394000000.0,5519000000.0,4517000000.0,13606000000.0,6523000000.0,6523000000.0,-27000000.0,...,-1757000000.0,-183000000.0,11497000000.0,2810000000.0,6000000.0,-1709000000.0,-130000000.0,-178000000.0,2650000000.0,-8014000000.0
2020-12-31,1491000000.0,None,1154000000.0,1454000000.0,721000000.0,3188000000.0,6630000000.0,1951000000.0,1951000000.0,-27000000.0,...,13118000000.0,334000000.0,5943000000.0,2322000000.0,123000000.0,-422000000.0,-652000000.0,-225000000.0,2716000000.0,-3232000000.0
2019-12-31,1343000000.0,None,-665000000.0,1492000000.0,-862000000.0,2646000000.0,4069000000.0,80000000.0,80000000.0,-27000000.0,...,2506000000.0,8000000.0,2405000000.0,2092000000.0,46000000.0,-429000000.0,-367000000.0,-380000000.0,1524000000.0,-1432000000.0
2018-12-31,1460000000.0,None,-1005000000.0,1390000000.0,-976000000.0,2835000000.0,4042000000.0,-253000000.0,-253000000.0,-27000000.0,...,312000000.0,-23000000.0,2098000000.0,1888000000.0,46000000.0,-1023000000.0,-497000000.0,189000000.0,969000000.0,-2319000000.0

In [10]:
tickers = ['AMZN','NFLX','GOOG','MSFT']
tickers

['AMZN', 'NFLX', 'GOOG', 'MSFT']

In [11]:
tickers = [yf.Ticker(ticker) for ticker in tickers]
tickers

[yfinance.Ticker object <AMZN>,
 yfinance.Ticker object <NFLX>,
 yfinance.Ticker object <GOOG>,
 yfinance.Ticker object <MSFT>]

In [12]:
#dataframes
dfs = []
for ticker in tickers:
    # get financial statements for each
    pnl = ticker.financials
    bs = ticker.balancesheet
    cf = ticker.cashflow
    
    # concat into one dataframe
    fs = pd.concat([pnl, cf])
    
    # make dataframe format nicer
    data = fs.T # swap data and columns
    data = data.reset_index() # reste index (data) into a column
    data.columns = ['Date', *data.columns[1:]] # rename od index to Date
    data['Ticker'] = ticker.ticker # add ticker to dataframe
    dfs.append(data)
data

,Date,Research Development,Effect Of Accounting Charges,Income Before Tax,Minority Interest,Net Income,Selling General Administrative,Gross Profit,Ebit,Operating Income,...,Total Cash From Operating Activities,Depreciation,Other Cashflows From Investing Activities,Dividends Paid,Change To Inventory,Change To Account Receivables,Other Cashflows From Financing Activities,Change To Netincome,Capital Expenditures,Ticker
0,2021-06-30,20716000000.0,None,71102000000.0,None,61271000000.0,25224000000.0,115856000000.0,69916000000.0,69916000000.0,...,76740000000.0,10900000000.0,-922000000.0,-16521000000.0,-737000000.0,-6481000000.0,-2523000000.0,5505000000.0,-20622000000.0,MSFT
1,2020-06-30,19269000000.0,None,53036000000.0,None,44281000000.0,24523000000.0,96937000000.0,53145000000.0,53145000000.0,...,60675000000.0,12300000000.0,-1241000000.0,-15137000000.0,168000000.0,-2577000000.0,-3751000000.0,5577000000.0,-15441000000.0,MSFT
2,2019-06-30,16876000000.0,None,43688000000.0,None,39240000000.0,23098000000.0,82933000000.0,42959000000.0,42959000000.0,...,52185000000.0,11600000000.0,-1241000000.0,-13811000000.0,597000000.0,-2812000000.0,-675000000.0,-2521000000.0,-13925000000.0,MSFT
3,2018-06-30,14726000000.0,None,36474000000.0,None,16571000000.0,22223000000.0,72007000000.0,35058000000.0,35058000000.0,...,43884000000.0,9900000000.0,-98000000.0,-12699000000.0,-465000000.0,-3862000000.0,-971000000.0,-3054000000.0,-11632000000.0,MSFT

In [15]:
parser = pd.io.parsers.base_parser.ParserBase({'usecols': None})

for df in dfs:
    df.columns = parser._maybe_dedup_names(df.columns)
    
df = pd.concat(dfs, ignore_index=True)
df = df.set_index(['Ticker','Date'])
df

                  Research Development Effect Of Accounting Charges  \
Ticker Date
AMZN   2021-12-31        56052000000.0                         None
       2020-12-31        42740000000.0                         None
       2019-12-31        35931000000.0                         None
       2018-12-31        28837000000.0                         None
NFLX   2021-12-31         2273885000.0                         None
       2020-12-31         1829600000.0                         None
       2019-12-31         1545149000.0                         None
       2018-12-31         1221814000.0                         None
GOOG   2021-12-31        31562000000.0                         None
       2020-12-31        27573000000.0                         None
       2019-12-31        26018000000.0                         None
       2018-12-31        21419000000.0                         None
MSFT   2021-06-30        20716000000.0                         None
       2020-06-30        19269000000.0                         None
       2019-06-30        16876000000.0                         None
       2018-06-30        14726000000.0                         None

                  Income Before Tax Minority Interest     Net Income  \
Ticker Date
AMZN   2021-12-31     38155000000.0              None  33364000000.0
       2020-12-31     24194000000.0              None  21331000000.0
       2019-12-31     13962000000.0              None  11588000000.0
       2018-12-31     11270000000.0              None  10073000000.0
NFLX   2021-12-31      5840103000.0              None   5116228000.0
       2020-12-31      3199349000.0              None   2761395000.0
       2019-12-31      2062231000.0              None   1866916000.0
       2018-12-31      1226458000.0              None   1211242000.0
GOOG   2021-12-31     90734000000.0              None  76033000000.0
       2020-12-31     48082000000.0              None  40269000000.0
       2019-12-31     39625000000.0              None  34343000000.0
       2018-12-31     34913000000.0              None  30736000000.0
MSFT   2021-06-30     71102000000.0              None  61271000000.0
       2020-06-30     53036000000.0              None  44281000000.0
       2019-06-30     43688000000.0              None  39240000000.0
       2018-06-30     36474000000.0              None  16571000000.0

                  Selling General Administrative    Gross Profit  \
Ticker Date
AMZN   2021-12-31                 116485000000.0  197478000000.0
       2020-12-31                  87193000000.0  152757000000.0
       2019-12-31                  64313000000.0  114986000000.0
       2018-12-31                  52177000000.0   93731000000.0
NFLX   2021-12-31                   3896767000.0   12365161000.0
       2020-12-31                   3304848000.0    9719737000.0
       2019-12-31                   3566831000.0    7716234000.0
       2018-12-31                   2999763000.0    5826803000.0
GOOG   2021-12-31                  36422000000.0  146698000000.0
       2020-12-31                  28998000000.0   97795000000.0
       2019-12-31                  28015000000.0   89961000000.0
       2018-12-31                  23256000000.0   77270000000.0
MSFT   2021-06-30                  25224000000.0  115856000000.0
       2020-06-30                  24523000000.0   96937000000.0
       2019-06-30                  23098000000.0   82933000000.0
       2018-06-30                  22223000000.0   72007000000.0

                            Ebit Operating Income Other Operating Expenses  \
Ticker Date
AMZN   2021-12-31  24879000000.0    24879000000.0               62000000.0
       2020-12-31  22899000000.0    22899000000.0              -75000000.0
       2019-12-31  14541000000.0    14541000000.0              201000000.0
       2018-12-31  12421000000.0    12421000000.0              296000000.0
NFLX   2021-12-31   6194509000.0     6194509000.0                     None
       2020-12-31   4585289000.0     4585289000.0                     None
       2019-12-31   2604254000.0     2604254000.0                     None
       2018-12-31   1605226000.0     1605226000.0                     None
GOOG   2021-12-31  78714000000.0    78714000000.0                     None
       2020-12-31  41224000000.0    41224000000.0                     None
       2019-12-31  35928000000.0    35928000000.0                     None
       2018-12-31  32595000000.0    32595000000.0                     None
MSFT   2021-06-30  69916000000.0    69916000000.0                     None
       2020-06-30  53145000000.0    53145000000.0                     None
       2019-06-30  42959000000.0    42959000000.0                     None
       2018-06-30  35058000000.0    35058000000.0                     None

                   ...   Depreciation Change To Inventory  \
Ticker Date        ...
AMZN   2021-12-31  ...  34296000000.0       -9487000000.0
       2020-12-31  ...  25251000000.0       -2849000000.0
       2019-12-31  ...  21789000000.0       -3278000000.0
       2018-12-31  ...  15341000000.0       -1314000000.0
NFLX   2021-12-31  ...    208412000.0                 NaN
       2020-12-31  ...    115710000.0                 NaN
       2019-12-31  ...    103579000.0                 NaN
       2018-12-31  ...     83157000.0                 NaN
GOOG   2021-12-31  ...  12430000000.0                 NaN
       2020-12-31  ...  13679000000.0                 NaN
       2019-12-31  ...  11651000000.0                 NaN
       2018-12-31  ...   9029000000.0                 NaN
MSFT   2021-06-30  ...  10900000000.0        -737000000.0
       2020-06-30  ...  12300000000.0         168000000.0
       2019-06-30  ...  11600000000.0         597000000.0
       2018-06-30  ...   9900000000.0        -465000000.0

                  Change To Account Receivables Change To Netincome  \
Ticker Date
AMZN   2021-12-31                -18163000000.0       -1722000000.0
       2020-12-31                 -8169000000.0        6001000000.0
       2019-12-31                 -7681000000.0        7575000000.0
       2018-12-31                 -4615000000.0        6352000000.0
NFLX   2021-12-31                           NaN      -16920420000.0
       2020-12-31                           NaN      -11225067000.0
       2019-12-31                           NaN      -14117107000.0
       2018-12-31                           NaN      -11800733000.0
GOOG   2021-12-31                 -9095000000.0        4712000000.0
       2020-12-31                 -6524000000.0        9349000000.0
       2019-12-31                 -4340000000.0        7707000000.0
       2018-12-31                 -2169000000.0        3298000000.0
MSFT   2021-06-30                 -6481000000.0        5505000000.0
       2020-06-30                 -2577000000.0        5577000000.0
       2019-06-30                 -2812000000.0       -2521000000.0
       2018-06-30                 -3862000000.0       -3054000000.0

                  Capital Expenditures  \
Ticker Date
AMZN   2021-12-31       -61053000000.0
       2020-12-31       -40140000000.0
       2019-12-31       -16861000000.0
       2018-12-31       -13427000000.0
NFLX   2021-12-31         -524585000.0
       2020-12-31         -497923000.0
       2019-12-31         -253035000.0
       2018-12-31         -173946000.0
GOOG   2021-12-31       -24640000000.0
       2020-12-31       -22281000000.0
       2019-12-31       -23548000000.0
       2018-12-31       -25139000000.0
MSFT   2021-06-30       -20622000000.0
       2020-06-30       -15441000000.0
       2019-06-30       -13925000000.0
       2018-06-30       -11632000000.0

                  Other Cashflows From Investing Activities Issuance Of Stock  \
Ticker Date
AMZN   2021-12-31                                       NaN               NaN
       2020-12-31                                       NaN               NaN
       2019-12-31                                       NaN               NaN
       2018-12-31                              2104000000.0               NaN
NFLX   2021-12-31                               -26919000.0       174414000.0
       2020-12-31                                -7431000.0       235406000.0
       2019-12-31                              -134029000.0        72490000.0
       2018-12-31                              -165174000.0       124502000.0
GOOG   2021-12-31                               541000000.0               NaN
       2020-12-31                                68000000.0               NaN
       2019-12-31                               589000000.0               NaN
       2018-12-31                                98000000.0               NaN
MSFT   2021-06-30                              -922000000.0      1693000000.0
       2020-06-30                             -1241000000.0      1343000000.0
       2019-06-30                             -1241000000.0      1142000000.0
       2018-06-30                               -98000000.0      1002000000.0

                  Repurchase Of Stock  \
Ticker Date
AMZN   2021-12-31                 NaN
       2020-12-31                 NaN
       2019-12-31                 NaN
       2018-12-31                 NaN
NFLX   2021-12-31        -824190000.0
       2020-12-31        -824190000.0
       2019-12-31        -824190000.0
       2018-12-31        -824190000.0
GOOG   2021-12-31      -50274000000.0
       2020-12-31      -31149000000.0
       2019-12-31      -18396000000.0
       2018-12-31       -9075000000.0
MSFT   2021-06-30      -27385000000.0
       2020-06-30      -22968000000.0
       2019-06-30      -19543000000.0
       2018-06-30      -10721000000.0

                  Other Cashflows From Financing Activities Dividends Paid
Ticker Date
AMZN   2021-12-31                                       NaN            NaN
       2020-12-31                                       NaN            NaN
       2019-12-31                                       NaN            NaN
       2018-12-31                                       NaN            NaN
NFLX   2021-12-31                                       NaN            NaN
       2020-12-31                                -7559000.0            NaN
       2019-12-31                               -36134000.0            NaN
       2018-12-31                               -37827000.0            NaN
GOOG   2021-12-31                             -9852000000.0            NaN
       2020-12-31                             -2920000000.0            NaN
       2019-12-31                             -4545000000.0            NaN
       2018-12-31                             -4043000000.0            NaN
MSFT   2021-06-30                             -2523000000.0 -16521000000.0
       2020-06-30                             -3751000000.0 -15137000000.0
       2019-06-30                              -675000000.0 -13811000000.0
       2018-06-30                              -971000000.0 -12699000000.0

[16 rows x 42 columns]

In [17]:
# How to get Options Data
aapl = yf.Ticker('AAPL')
aapl

yfinance.Ticker object <AAPL>

In [19]:
options = aapl.option_chain()
options

Options(calls=          contractSymbol             lastTradeDate   strike  lastPrice  \
0    AAPL220617C00028750 2022-06-10 17:49:25+00:00    28.75     109.70
1    AAPL220617C00030000 2022-06-10 17:49:25+00:00    30.00     108.45
2    AAPL220617C00031250 2022-06-03 15:35:37+00:00    31.25     107.15
3    AAPL220617C00032500 2022-06-03 15:10:12+00:00    32.50     112.40
4    AAPL220617C00033750 2022-06-07 18:43:00+00:00    33.75     114.75
..                   ...                       ...      ...        ...
148  AAPL220617C00680000 2020-08-27 16:59:15+00:00   680.00     333.83
149  AAPL220617C00700000 2020-08-28 19:12:54+00:00   700.00    1125.00
150  AAPL220617C00720000 2020-08-28 16:29:09+00:00   720.00    1106.80
151  AAPL220617C00740000 2020-08-28 17:46:32+00:00   740.00     932.00
152  AAPL220617C01000000 2020-08-28 19:48:09+00:00  1000.00      20.31

        bid     ask       change  percentChange  volume  openInterest  \
0    108.05  108.90    -7.950005      -6.757335       1            17
1    106.80  107.65   -16.550003     -13.240002       1             6
2    105.45  106.35    -6.699997      -5.884934       1             4
3    104.20  105.15     0.000000       0.000000       1            35
4    103.00  103.90     0.000000       0.000000       1            12
..      ...     ...          ...            ...     ...           ...
148  329.00  334.00   283.629970     564.999940      30           146
149  324.00  329.00  1079.200000    2356.331800     127            52
150  319.50  324.50  1063.550000    2459.075200       1           362
151  315.00  320.00   891.000000    2173.170700       7            78
152   18.85   20.15     1.359999       7.176774      51            29

     impliedVolatility  inTheMoney contractSize currency
0             4.640629        True      REGULAR      USD
1             4.515629        True      REGULAR      USD
2             3.718751        True      REGULAR      USD
3             3.937500        True      REGULAR      USD
4             4.023442        True      REGULAR      USD
..                 ...         ...          ...      ...
148           0.000000       False      REGULAR      USD
149           0.000000       False      REGULAR      USD
150           0.000000       False      REGULAR      USD
151           0.000000       False      REGULAR      USD
152          10.790042       False      REGULAR      USD

[153 rows x 14 columns], puts=          contractSymbol             lastTradeDate  strike  lastPrice     bid  \
0    AAPL220617P00028750 2022-06-03 15:18:00+00:00   28.75       0.01    0.00
1    AAPL220617P00030000 2022-05-18 15:01:37+00:00   30.00       0.01    0.00
2    AAPL220617P00031250 2022-02-08 14:30:04+00:00   31.25       0.02    0.00
3    AAPL220617P00032500 2022-03-22 15:12:03+00:00   32.50       0.02    0.00
4    AAPL220617P00033750 2022-05-12 16:05:32+00:00   33.75       0.01    0.00
..                   ...                       ...     ...        ...     ...
142  AAPL220617P00600000 2020-08-27 16:53:15+00:00  600.00     170.00  166.65
143  AAPL220617P00640000 2020-08-07 14:08:26+00:00  640.00     218.72  196.65
144  AAPL220617P00700000 2020-08-24 18:56:07+00:00  700.00      18.60    4.55
145  AAPL220617P00720000 2020-08-24 18:56:07+00:00  720.00       5.06    4.90
146  AAPL220617P00800000 2020-08-27 13:54:52+00:00  800.00       6.65    6.50

        ask  change  percentChange  volume  openInterest  impliedVolatility  \
0      0.00    0.00       0.000000     5.0        1644.0           0.500005
1      0.01    0.00       0.000000    10.0        2811.0           3.375002
2      0.06    0.00       0.000000     2.0         440.0           3.875000
3      0.02    0.00       0.000000     1.0         514.0           3.437501
4      0.05    0.00       0.000000    20.0         394.0           3.625001
..      ...     ...            ...     ...           ...                ...
142  169.80    0.00       0.000000     NaN           2.0           0.000010
143  200.10    0.00       0.000000     1.0           1.0           0.000010
144    4.80 -222.86     -92.296860     4.0         413.0           0.000010
145    5.20 -253.00     -98.039215     2.0         669.0           0.000010
146    7.35 -315.70     -97.937030    31.0         900.0           0.000010

     inTheMoney contractSize currency
0         False      REGULAR      USD
1         False      REGULAR      USD
2         False      REGULAR      USD
3         False      REGULAR      USD
4         False      REGULAR      USD
..          ...          ...      ...
142        True      REGULAR      USD
143        True      REGULAR      USD
144        True      REGULAR      USD
145        True      REGULAR      USD
146        True      REGULAR      USD

[147 rows x 14 columns])

In [20]:
aapl.options

('2022-06-17',
 '2022-06-24',
 '2022-07-01',
 '2022-07-08',
 '2022-07-15',
 '2022-07-22',
 '2022-07-29',
 '2022-08-19',
 '2022-09-16',
 '2022-10-21',
 '2022-11-18',
 '2022-12-16',
 '2023-01-20',
 '2023-03-17',
 '2023-06-16',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21')

In [21]:
calls = options.calls
calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL220617C00028750,2022-06-10 17:49:25+00:00,28.75,109.70,108.05,108.90,-7.950005,-6.757335,1,17,4.640629,True,REGULAR,USD
1,AAPL220617C00030000,2022-06-10 17:49:25+00:00,30.00,108.45,106.80,107.65,-16.550003,-13.240002,1,6,4.515629,True,REGULAR,USD
2,AAPL220617C00031250,2022-06-03 15:35:37+00:00,31.25,107.15,105.45,106.35,-6.699997,-5.884934,1,4,3.718751,True,REGULAR,USD
3,AAPL220617C00032500,2022-06-03 15:10:12+00:00,32.50,112.40,104.20,105.15,0.000000,0.000000,1,35,3.937500,True,REGULAR,USD
4,AAPL220617C00033750,2022-06-07 18:43:00+00:00,33.75,114.75,103.00,103.90,0.000000,0.000000,1,12,4.023442,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,AAPL220617C00680000,2020-08-27 16:59:15+00:00,680.00,333.83,329.00,334.00,283.629970,564.999940,30,146,0.000000,False,REGULAR,USD
149,AAPL220617C00700000,2020-08-28 19:12:54+00:00,700.00,1125.00,324.00,329.00,1079.200000,2356.331800,127,52,0.000000,False,REGULAR,USD
150,AAPL220617C00720000,2020-08-28 16:29:09+00:00,720.00,1106.80,319.50,324.50,1063.550000,2459.075200,1,362,0.000000,False,REGULAR,USD
151,AAPL220617C00740000,2020-08-28 17:46:32+00:00,740.00,932.00,315.00,320.00,891.000000,2173.170700,7,78,0.000000,False,REGULAR,USD
152,AAPL220617C01000000,2020-08-28 19:48:09+00:00,1000.00,20.31,18.85,20.15,1.359999,7.176774,51,29,10.790042,False,REGULAR,USD

In [22]:
puts = options.puts
puts

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,AAPL220617P00028750,2022-06-03 15:18:00+00:00,28.75,0.01,0.00,0.00,0.00,0.000000,5.0,1644.0,0.500005,False,REGULAR,USD
1,AAPL220617P00030000,2022-05-18 15:01:37+00:00,30.00,0.01,0.00,0.01,0.00,0.000000,10.0,2811.0,3.375002,False,REGULAR,USD
2,AAPL220617P00031250,2022-02-08 14:30:04+00:00,31.25,0.02,0.00,0.06,0.00,0.000000,2.0,440.0,3.875000,False,REGULAR,USD
3,AAPL220617P00032500,2022-03-22 15:12:03+00:00,32.50,0.02,0.00,0.02,0.00,0.000000,1.0,514.0,3.437501,False,REGULAR,USD
4,AAPL220617P00033750,2022-05-12 16:05:32+00:00,33.75,0.01,0.00,0.05,0.00,0.000000,20.0,394.0,3.625001,False,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,AAPL220617P00600000,2020-08-27 16:53:15+00:00,600.00,170.00,166.65,169.80,0.00,0.000000,NaN,2.0,0.000010,True,REGULAR,USD
143,AAPL220617P00640000,2020-08-07 14:08:26+00:00,640.00,218.72,196.65,200.10,0.00,0.000000,1.0,1.0,0.000010,True,REGULAR,USD
144,AAPL220617P00700000,2020-08-24 18:56:07+00:00,700.00,18.60,4.55,4.80,-222.86,-92.296860,4.0,413.0,0.000010,True,REGULAR,USD
145,AAPL220617P00720000,2020-08-24 18:56:07+00:00,720.00,5.06,4.90,5.20,-253.00,-98.039215,2.0,669.0,0.000010,True,REGULAR,USD
146,AAPL220617P00800000,2020-08-27 13:54:52+00:00,800.00,6.65,6.50,7.35,-315.70,-97.937030,31.0,900.0,0.000010,True,REGULAR,USD

In [23]:
#get institutional holders using yfinance
aapl.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",1269995750,2022-03-30,0.0785,221753957907
1,Blackrock Inc.,1027632887,2022-03-30,0.0635,179434978399
2,"Berkshire Hathaway, Inc",890923410,2022-03-30,0.0550,155564136620
3,State Street Corporation,613852274,2022-03-30,0.0379,107184745563
4,"FMR, LLC",351584762,2022-03-30,0.0217,61390215292
5,"Geode Capital Management, LLC",272081668,2022-03-30,0.0168,47508180049
6,Price (T.Rowe) Associates Inc,233079365,2022-03-30,0.0144,40697987922
7,Northern Trust Corporation,186031985,2022-03-30,0.0115,32483044900
8,Bank of America Corporation,144401747,2022-03-30,0.0089,25213989043
9,Norges Bank Investment Management,142076403,2021-12-30,0.0088,25228506880